{
  "extends": [
    "@neogeek/eslint-config-standards"
  ],
  "rules": {
    "handle-callback-err": 0,
    "id-length": 0,
    "multiline-ternary": 0,
    "no-ternary": 0,
    "no-magic-numbers": 0,
    "no-param-reassign": 0,
    "no-shadow": 0,
    "no-underscore-dangle": 0
  }
}
