html {
    box-sizing: border-box;
}

*,
*:before,
*:after {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

body {
    font-family: -apple-system, BlinkMacSystemFont, 'Helvetica', 'Arial',
        sans-serif;
    font-size: 1.2em;
    line-height: 1.3;
    color: #222;
    letter-spacing: 0.01em;
}

a {
    color: $theme-main;
}
