.highlight {

    pre {
        font-size: 0.85rem;
        background-color: #f7f7f7;
    }

    .pl-c {
        color: #969896;
    }

    .pl-k {
        color: #a71d5d;
    }

    .pl-en {
        color: #795da3;
    }

    .pl-smi {
        color: #333;
    }

    .pl-s {
        color: #183691;
    }

}
