.highlight {

    pre {
        font-size: 0.85rem;
        color: #969896;
        background-color: #f7f7f7;
    }

    .pl-k {
        color: #a71d5d;
    }

    .pl-en {
        color: #795da3;
    }

    .pl-smi {
        color: #333;
    }

}
