@import 'colors';

.page-content {

    h2, h3 {
        font-weight: 300;
        text-align: center;
    }

    h2 {
        margin: 1em auto 2em;
        font-size: 2.3rem;
        span {
            display: inline-block;
            padding-bottom: 1rem;
            border-bottom: 10px solid $theme-main;
        }
    }

    h3 {
        margin: 2em auto 1.5rem;
        font-size: 2rem;
    }

    p {
        margin: 1rem 0;
        text-align: center;
    }

    section {
        margin: 0 auto;
        padding: 1rem;
        max-width: 50rem;
    }

    img {
        max-width: 100%;
        height: auto;
    }

    pre {
        margin: 2rem 0;
        padding: 1rem;
        font-family: 'Lucida Sans Typewriter', monospace;
        font-size: 1rem;
        color: $theme-code-text;
        background-color: $theme-code;
        text-align: left;
        overflow: auto;
    }

    figure {

        img {
            display: block;
        }

        figcaption {
            padding: 1rem;
            font-size: 1rem;
            background-color: $theme-light;
        }

    }

}
