input[type='search']::-webkit-search-cancel-button {
    -webkit-appearance: searchfield-cancel-button;
}

.jumbotron {
    margin-bottom: 0;
    border-radius: 0;
    background-color: #2b303e;
    -webkit-font-smoothing: antialiased;
}

.jumbotron h1 {
    font-size: 3.5rem;
    line-height: 1;
}

.jumbotron h1,
.jumbotron h1 a {
    color: #eee;
}

.jumbotron small {
    font-weight: 200;
    color: #777;
}

.jumbotron p {
    font-size: 1.5rem;
    font-weight: 200;
    line-height: 1.2;
    color: #ccc;
}

.wrap {
    padding: 2rem 1rem;
}

.search {
    margin: 0 0 1rem 0;
    width: 90%;
}

.menu {
    padding: 0;
}

.menu li {
    list-style: none;
}

.menu li ul {
    padding: 0;
}

.menu li a {
    display: block;
    padding: 0.25rem;
    overflow: hidden;
    text-overflow: ellipsis;
}

.menu .file {
    color: #e54d89;
}

.menu .file + ul {
    margin: 0 0 1rem 0;
}

.menu .scope-private a {
    color: #8baac6;
}

.method {
    margin: 0 0 4rem 0;
}

.method .method-name {
    display: inline-block;
    width: 100%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.method .method-name + .scope-private {
    color: #aaaaaa;
}

.method section {
    margin: 2rem 0;
}

.method h3 {
    margin: 0 0 1rem 0;
}

.method .table,
.method .table p,
.method .table ol,
.method .table ul {
    margin: 0;
}

.permalink {
    position: absolute;
    margin-left: -1em;
    font-weight: normal;
    color: #eee;
    text-decoration: none;
}

.permalink:hover {
    color: #e54d89;
}

.back-to-top {
    display: none;
    position: fixed;
    right: 1rem;
    bottom: 1rem;
    padding: 0.5rem 0.6rem;
    line-height: 1;
    background: #fff;
    z-index: 999;
}

.back-to-top.visible {
    display: block;
}

.back-to-top svg {
    vertical-align: middle;
}

.bs-footer {
    margin: 3rem auto;
    color: #777;
    text-align: center;
}

.doxdox-readme-badge {
    vertical-align: baseline;
}
