<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<meta name="viewport" content="initial-scale=1">
<title>doxdox - A simple solution for auto generated documentation.</title>
<link rel="stylesheet" href="/css/error.css">
</head>

<body>

<h1>500 Internal Server Error</h1>

<p><b>Error:</b> {{err.message}}</p>

</body>
</html>
